<h1>Stream of Consciousness...</h1>

<table>

<% @posts.each do |post| %>
  <tr>
    <td class="title"><%= post.name %></td>
    <td><%= post.title %></td>
    <td class="actionButton"><%= link_to 'Show', post %></td>
    <td class="actionButton"><%= link_to 'Edit', edit_post_path(post) %></td>
    <td class="actionButton"><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
